<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BibliotecaSoares.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BibliotecaDB"
         connectionString="Server=.\SQLEXPRESS;Database=OdolfoBiblioteca;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <userSettings>
    <BibliotecaSoares.Properties.Settings>
      <setting name="ValorDiariaMulta" serializeAs="String">
        <value>1.50</value>
      </setting>
    </BibliotecaSoares.Properties.Settings>
  </userSettings>
</configuration>